{% extends "secret_santa/layout.html" %}
{% load static %}

{% block title %}
    Create Event
{% endblock %}

{% block script %}
    <script src="{% static 'secret_santa/create.js' %}"></script>
{% endblock %}

{% block body %}
    <h1 class="display-5">Create New Event</h1>

    <div>
        {% if message %}
            <div class="alert alert-danger fs-5" role="alert">{{ message }}</div>
        {% endif %}
        <form action="{% url 'create' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <h3 class="display-6">Event Informations</h3>

                <fieldset id="info">
                    <label class="form-label fs-4" for="name">Group Name</label>
                    <input type="text" class="form-control fs-5 mb-2" id="name" name="name" placeholder="ex.: The Awesome Gang" value="{% if name %}{{ name }}{% endif %}" required>
                    <label class="form-label fs-4" for="description">Description</label>
                    <textarea class="form-control fs-5 mb-2" id="description" name="description" rows="3" placeholder="ex.: Super extra mega cool gift exchange!">{% if description %}{{ description }}{% endif %}</textarea>

                    <div class="row">
                        <div class="col-12 col-sm-6 mb-2 mb-sm-0">
                            <label class="form-label fs-4" for="budget">Budget</label>
                            <div class="input-group fs-5">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control fs-5" id="budget" min="1" step="1" name="budget" value="{% if budget %}{{ budget }}{% else %}1{% endif %}" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 mb-0">
                            <label class="form-label fs-4" for="date">Date of the Exchange</label>
                            <input type="date" class="form-control fs-5" id="date" name="date" min={% now "Y-m-d" %} value="{% if date %}{{ date }}{% endif %}" required>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="mb-3">
                <h3 class="display-6">Participants</h3>

                <div id="participants">
                    <fieldset id="participant1" class="border border-2 rounded mb-3 p-3">
                        <div class="mb-3">
                            <h5 class="d-inline align-middle fs-3 mb-0 me-3">Participant 1</h5>
                            <button type="button" class="d-inline delete btn btn-outline-danger fs-6" onclick="deleteParticipant('participant1')">Remove</button>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                <label class="form-label fs-4" for="firstname1">First Name</label>
                                <input type="text" class="form-control fs-5" id="firstname1" name="firstname1" required>
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                <label class="form-label fs-4" for="lastname1">Last Name</label>
                                <input type="text" class="form-control fs-5" id="lastname1" name="lastname1" required>
                            </div>
                        </div>

                        <label class="form-label fs-4" for="email1">Email</label>
                        <input type="email" class="form-control fs-5" id="email1" name="email1" required>
                    </fieldset>
                    <fieldset id="participant2" class="border border-2 rounded mb-3 p-3">
                        <div class="mb-3">
                            <h5 class="d-inline align-middle fs-3 mb-0 me-3">Participant 2</h5>
                            <button type="button" class="d-inline delete btn btn-outline-danger fs-6" onclick="deleteParticipant('participant2')">Remove</button>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                <label class="form-label fs-4" for="firstname2">First Name</label>
                                <input type="text" class="form-control fs-5" id="firstname2" name="firstname2" required>
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                <label class="form-label fs-4" for="lastname2">Last Name</label>
                                <input type="text" class="form-control fs-5" id="lastname2" name="lastname2" required>
                            </div>
                        </div>

                        <label class="form-label fs-4" for="email2">Email</label>
                        <input type="email" class="form-control fs-5" id="email2" name="email2" required>
                    </fieldset>
                    <fieldset id="participant3" class="border border-2 rounded mb-3 p-3">
                        <div class="mb-3">
                            <h5 class="d-inline align-middle fs-3 mb-0 me-3">Participant 3</h5>
                            <button type="button" class="d-inline delete btn btn-outline-danger fs-6" onclick="deleteParticipant('participant3')">Remove</button>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                <label class="form-label fs-4" for="firstname3">First Name</label>
                                <input type="text" class="form-control fs-5" id="firstname3" name="firstname3" required>
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                <label class="form-label fs-4" for="lastname3">Last Name</label>
                                <input type="text" class="form-control fs-5" id="lastname3" name="lastname3" required>
                            </div>
                        </div>

                        <label class="form-label fs-4" for="email3">Email</label>
                        <input type="email" class="form-control fs-5" id="email3" name="email3" required>
                    </fieldset>
                    <fieldset id="participant4" class="border border-2 rounded mb-3 p-3">
                        <div class="mb-3">
                            <h5 class="d-inline align-middle fs-3 mb-0 me-3">Participant 4</h5>
                            <button type="button" class="d-inline delete btn btn-outline-danger fs-6" onclick="deleteParticipant('participant4')">Remove</button>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                <label class="form-label fs-4" for="firstname4">First Name</label>
                                <input type="text" class="form-control fs-5" id="firstname4" name="firstname4" required>
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                <label class="form-label fs-4" for="lastname4">Last Name</label>
                                <input type="text" class="form-control fs-5" id="lastname4" name="lastname4" required>
                            </div>
                        </div>

                        <label class="form-label fs-4" for="email4">Email</label>
                        <input type="email" class="form-control fs-5" id="email4" name="email4" required>
                    </fieldset>
                </div>

            </div>
            <div class="row justify-content-sm-between mx-0">
                <button class="btn btn-primary col-12 col-sm-auto fs-5" type="button" onclick="addParticipant()">Add Participant</button>
                <input type="submit" class="btn btn-primary col-12 col-sm-auto fs-5" value="Create Event">
            </div>
        </form>
    </div>
{% endblock %}
