{% extends "secret_santa/layout.html" %}
{% load static %}

{% block title %}
    {{ exchange.group_name }}
{% endblock %}

{% block script %}
    <script src="{% static 'secret_santa/exchange.js' %}"></script>
    <script src="{% static 'secret_santa/exchangeutils.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="mb-3">
        <h1 class="display-4">{{ exchange.group_name }}{% if exchange.cancelled %} - CANCELLED{% endif %}</h1>
        
        {% if user == exchange.organizer and not is_past_exchange %}
            <div class="mt-2">
                <button type="button" class="btn btn-outline-secondary fs-5" data-bs-toggle="modal" data-bs-target="#editExchangeModal">Edit</button>
                <button type="button" class="btn btn-outline-{% if exchange.cancelled %}warning{% else %}danger{% endif %} fs-5" data-bs-toggle="modal" data-bs-target="#cancelExchangeModal">
                    {% if exchange.cancelled %}Reactivate{% else %}Cancel{% endif %} exchange
                </button>
            </div>
        {% endif %}
    </div>

    {% if exchange.description %}
        <h3 class="mb-2 display-6">Description</h3>
        <p class="fs-4">{{ exchange.description }}</p>
    {% endif %}

    <h3 class="display-6 mb-2">Details</h3>
    <ul>
        <li class="fs-4">Budget: {{ exchange.budget }}$</li>
        <li class="fs-4">Happening: {{ exchange.exchange_date }}</li>
        <li class="fs-4">Created by: {{ exchange.organizer.first_name }}</li>
    </ul>

    {% if user == exchange.organizer %}
        <h3 class="display-6 mb-2">Organizer Details</h3>

        <table class="fs-4 table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Participation</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td>Invited</td>
                    <td>{{ exchange.participants.all.count }}</td>
                </tr>
                <tr>
                    <td>Confirmed</td>
                    <td>{{ exchange.get_confirmed_participation_count }}</td>
                </tr>
                {% if not exchange.draw_made %}
                    <tr>
                        <td>To be answered</td>
                        <td>{{ exchange.get_unanswered_participation_count }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Declined</td>
                    <td>{{ exchange.get_declined_participation_count }}</td>
                </tr>
                {% if exchange.draw_made %}
                    <tr>
                        <td>Not answered</td>
                        <td>{{ exchange.get_not_answered_participation_count }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        {% if not exchange.cancelled and not is_past_exchange %}
            {% if not exchange.draw_made %}
                {% if exchange.get_confirmed_participation_count >= 3 %}
                    <button type="submit" class="btn btn-primary fs-4" onclick="makeDraw({{ exchange.pk }})">Draw Names</button>
                {% else %}
                    <p class="fs-4">Not enough confirmed participations to draw names. (At least three required)</p>
                {% endif %}
            {% else %}
                <button type="button" class="btn btn-outline-danger fs-4" onclick="resetDraw({{ exchange.pk }})">Reset Draw</button>
            {% endif %}
        {% endif %}
    {% endif %}

    <div>
        <h3 class="display-6">Participants</h3>

        {% if not exchange.draw_made %}
            {% for participant in exchange.participants.all %}
                <div class="card bg-{% if participant.check_if_participation_confirmed %}success{% elif participant.check_if_participation_unanswered %}warning{% else %}danger{% endif %}-subtle mb-2">
                    <div class="card-body">
                        <h4 class="card-title fs-4">{{ participant.first_name }} {{ participant.last_name }}</h4>
                        
                        {% if not is_past_exchange %}
                            {% if participant.linked_user is None %}
                                {% if user == exchange.organizer %}
                                    <p class="card-text fs-5">Account not created yet</p>
                                {% else %}
                                    <p class="card-text fs-5">Not Answered</p>
                                {% endif %}
                            {% elif participant.linked_user == user and participant.check_if_participation_unanswered %}
                                <button type="button" class="btn btn-success fs-5" onclick="replyToInvitation({{ exchange.pk }}, {{ participant.pk }}, '{{ participant.CONFIRMED }}')">Accept</button>
                                <button type="button" class="btn btn-outline-danger fs-5" onclick="replyToInvitation({{ exchange.pk }}, {{ participant.pk }}, '{{ participant.DECLINED }}')">Refuse</button>
                            {% else %}
                                {% if participant.check_if_participation_confirmed %}
                                    <p class="card-text fs-5">Confirmed</p>
                                {% elif participant.check_if_participation_unanswered %}
                                    <p class="card-text fs-5">Not Answered</p>
                                {% else %}
                                    <p class="card-text fs-5">Declined</p>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if participant.check_if_participation_confirmed %}
                                <p class="fs-5">Confirmed participation.</p>
                            {% else %}
                                <p class="fs-5">Invitation never answered...</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            {% if not exchange.cancelled and user == exchange.organizer and not is_past_exchange %}
                <h3 class="display-6">Add Participant</h3>

                <div class="card">
                    <div class="card-body">
                        <form id="add-participant-form" method="post">
                            {% csrf_token %}
                            <input type="hidden" class="form-control" id="add-exchange-id" name="add-exchange-id" value={{ exchange.pk }}>

                            <div class="row">
                                <div class="col-12 col-sm-6 mb-2">
                                    <label class="form-label fs-5" for="firstname">First name</label>
                                    <input type="text" class="form-control fs-5" id="firstname" name="firstname" required>
                                </div>
                                <div class="col-12 col-sm-6 mb-2">
                                    <label class="form-label fs-5" for="lastname">Last name</label>
                                    <input type="text" class="form-control fs-5" id="lastname" name="lastname" required>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label fs-5" for="email">Email</label>
                                <input type="email" class="form-control fs-5" id="email" name="email" required>
                            </div>

                            <input type="submit" class="btn btn-primary fs-5" value="Add">
                        </form>
                    </div>
                </div>
            {% endif %}
        {% else %}
            {% for participant in exchange.get_confirmed_participants %}
                <div class="card bg-success-subtle">
                    <div class="card-body">
                        <h4 class="card-title fs-4">{{ participant.first_name }} {{ participant.last_name }}</h4>

                        {% if not exchange.cancelled %}
                            {% if not is_past_exchange %}
                                {% if participant.linked_user == user %}
                                    <button type="button" class="btn btn-primary fs-5" data-bs-toggle="modal" data-bs-target="#viewPickedName1" onclick="getPickedName({{ exchange.pk }}, {{ participant.pk }})">See who you picked</button>
                                {% endif %}
                            {% else %}
                                <p class="fs-5">Picked: {{ participant.picked_participant.get_full_name }}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            {% with non_participants=exchange.get_not_participating %}
                {% if non_participants.count > 0 %}
                    <h3 class="display-6">Not Participating</h3>
        
                    {% for non_participant in exchange.get_not_participating %}
                        <div class="card bg-danger-subtle">
                            <div class="card-body">
                                <h4 class="card-title fs-4">{{ non_participant.first_name }} {{ non_participant.last_name }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% endif %}
    </div>
    
    {% if exchange.draw_made %}
        <!-- Picked name modal -->
        {% include "secret_santa/picked-name-modal.html" %}
    {% endif %}

    {% if user == exchange.organizer and not is_past_exchange %}
        <!-- Edit event modal -->
        <div class="modal fade" id="editExchangeModal" tabindex="-1" aria-labelledby="editExchangeLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-4" id="editExchangeLabel">Edit Exchange</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="edit-form" method="post">
                            {% csrf_token %}
                            <input type="hidden" class="form-control" id="edit-exchange-id" name="edit-exchange-id" value={{ exchange.pk }}>
                            <label class="form-label fs-5" for="name">Exchange Name</label>
                            <input type="text" class="form-control fs-5" id="name" name="name" value="{% if exchange.group_name %}{{ exchange.group_name }}{% endif %}" required>
                            <label class="form-label fs-5" for="description">Description</label>
                            <textarea class="form-control fs-5" id="description" name="description" rows="3">{% if exchange.description %}{{ exchange.description }}{% endif %}</textarea>
                            <label class="form-label fs-5" for="budget">Budget</label>
                            <input type="number" class="form-control fs-5" id="budget" min="1" step="1" name="budget" value="{% if exchange.budget %}{{ exchange.budget }}{% else %}1{% endif %}" required>
                            <label class="form-label fs-5" for="date">Date of the Event</label>
                            <input type="date" class="form-control fs-5" id="date" name="date" min={% now "Y-m-d" %} value="{% if exchange.exchange_date %}{{ exchange.exchange_date|date:'Y-m-d' }}{% endif %}" required>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary fs-5" data-bs-dismiss="modal">Cancel</button>
                        <input type="submit" form="edit-form" class="btn btn-primary fs-5" value="Save changes">
                    </div>
                </div>
            </div>
        </div>

        <!-- Cancel event modal -->
        <div class="modal fade" id="cancelExchangeModal" tabindex="-1" aria-labelledby="cancelExchangeLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-4" id="cancelExchangeLabel">
                            {% if exchange.cancelled %}Reactivate{% else %}Cancel{% endif %} Exchange
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% if exchange.cancelled %}
                            <p class="fs-5">Do you want to reactivate this gift exchange?</p>
                        {% else %}
                            <p class="fs-5">Do you really want to cancel this gift exchange?</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary fs-5" data-bs-dismiss="modal">No</button>
                        <button id="cancel-btn" type="button" class="btn btn-primary fs-5" data-iscancelled={{ exchange.cancelled|yesno:"true,false" }} onclick="cancelExchange({{ exchange.pk }})">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
