{% extends "secret_santa/layout.html" %}
{% load static %}

{% block title %}
    My Exchanges
{% endblock %}

{% block script %}
    <script src="{% static 'secret_santa/exchangebrowser.js' %}"></script>
    <script src="{% static 'secret_santa/exchangeutils.js' %}"></script>
{% endblock %}

{% block body %}
    <h1 class="display-4 mb-3">My Exchanges</h1>

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <button id="all-btn" class="nav-link active fs-4">All</button>
        </li>
        <li class="nav-item">
            <button id="created-btn" class="nav-link fs-4">Created</button>
        </li>
        <li class="nav-item">
            <button id="attending-btn" class="nav-link fs-4" {% if not attending_ongoing_exchanges and not attending_future_exchanges %}disabled{% endif %}>Attending</button>
        </li>
        <li class="nav-item">
            <button id="invited-btn" class="nav-link fs-4" {% if not invited_ongoing_exchanges and not invited_future_exchanges %}disabled{% endif %}>Invited</button>
        </li>
    </ul>

    <div id="all">
        <h3 class="display-5">Happening Today</h3>

        {% with happening_status="ongoing" %}
            {% for exchange in ongoing_exchanges %}
                {% include "secret_santa/exchange-card.html" %}
            {% empty %}
                <p class="fs-5">No gift exchanges happening today.</p>
            {% endfor %}
        {% endwith %}

        <h3 class="display-5">To Come</h3>
        {% with happening_status="future" %}
            {% for exchange in future_exchanges %}
                {% include "secret_santa/exchange-card.html" %}
            {% empty %}
                <p class="fs-5">No upcoming gift exchanges.</p>
            {% endfor %}
        {% endwith %}
    </div>

    <div id="created" class="d-none">
        {% if created_ongoing_exchanges or created_future_exchanges or created_past_exchanges %}
            <h3 class="display-5">Happening Today</h3>

            {% with happening_status="ongoing" %}
                {% for exchange in created_ongoing_exchanges %}
                    {% include "secret_santa/exchange-card.html" %}
                {% empty %}
                    <p class="fs-5">No gift exchanges happening today.</p>
                {% endfor %}
            {% endwith %}

            <h3 class="display-5">To Come</h3>

            {% with happening_status="future" %}
                {% for exchange in created_future_exchanges %}
                    {% include "secret_santa/exchange-card.html" %}
                {% empty %}
                    <p class="fs-5">No upcoming gift exchanges.</p>
                {% endfor %}
            {% endwith %}
                
            <h3 class="display-5">Past Gift Exchanges</h3>

            {% with happening_status="past" %}
                {% for exchange in created_past_exchanges %}
                    {% include "secret_santa/exchange-card.html" %}
                {% empty %}
                    <p class="fs-5">No past gift exchanges.</p>
                {% endfor %}
            {% endwith %}
        {% else %}
            <p class="fs-5">You have organized no gift exchanges yet.</p>
        {% endif %}
    </div>

    <div id="attending" class="d-none">
        <h3 class="display-5">Happening Today</h3>

        {% with happening_status="ongoing" %}
            {% for exchange in attending_ongoing_exchanges %}
                {% include "secret_santa/exchange-card.html" %}
            {% empty %}
                <p class="fs-5">No gift exchanges happening today.</p>
            {% endfor %}
        {% endwith %}

        <h3 class="display-5">To Come</h3>

        {% with happening_status="future" %}
            {% for exchange in attending_future_exchanges %}
                {% include "secret_santa/exchange-card.html" %}
            {% empty %}
                <p class="fs-5">No upcoming gift exchanges.</p>
            {% endfor %}
        {% endwith %}
    </div>

    <div id="invited" class="d-none">
        <h3 class="display-5">Happening Today</h3>

        {% with happening_status="ongoing" %}
            {% for exchange in invited_ongoing_exchanges %}
                {% include "secret_santa/exchange-card.html" %}
            {% empty %}
                <p class="fs-5">No gift exchanges happening today.</p>
            {% endfor %}
        {% endwith %}

        <h3 class="display-5">To Come</h3>

        {% with happening_status="future" %}
            {% for exchange in invited_future_exchanges %}
                {% include "secret_santa/exchange-card.html" %}
            {% empty %}
                <p class="fs-5">No upcoming gift exchanges.</p>
            {% endfor %}
        {% endwith %}
    </div>
    {% include "secret_santa/picked-name-modal.html" %}
{% endblock %}
