<div class="card bg-{% if happening_status == "ongoing" %}success{% elif happening_status == "future" %}warning{% else %}secondary{% endif %}-subtle mb-2">
    <div class="card-body">
        <h4 class="card-title display-6"><a href="{% url 'exchange' exchange_id=exchange.pk %}">{{ exchange.group_name }}{% if exchange.cancelled %} - CANCELLED{% endif %}</a></h4>
        <p class="card-text text-body-secondary fs-5 mb-2">{{ exchange.exchange_date }}</p>
        <p class="card-text fs-5">{{ exchange.description }}</p>
        {% if happening_status != "past" and not exchange.cancelled %}
            {% if exchange in attending_ongoing_exchanges or exchange in attending_future_exchanges %}
                {% for participant in exchange.participants.all %}
                    {% if participant.linked_user == user %}
                        {% if exchange.draw_made %}
                            <button type="button" class="btn btn-primary fs-5" data-bs-toggle="modal" data-bs-target="#viewPickedName1" onclick="getPickedName({{ exchange.pk }}, {{ participant.pk }})">See who you picked</button>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% elif exchange in invited_ongoing_exchanges or exchange in invited_future_exchanges %}
                {% for participant in exchange.participants.all %}
                    {% if participant.linked_user == user %}
                        <button type="button" class="btn btn-success fs-5" onclick="replyToInvitation({{ exchange.pk }}, {{ participant.pk }}, '{{ participant.CONFIRMED }}')">Accept</button>
                        <button type="button" class="btn btn-outline-danger fs-5" onclick="replyToInvitation({{ exchange.pk }}, {{ participant.pk }}, '{{ participant.DECLINED }}')">Refuse</button>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
</div>