{% extends "secret_santa/layout.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block script %}
    <script src="{% static 'secret_santa/index.js' %}"></script>
{% endblock %}

{% block body %}
    <div>
        <div class="mb-5">
            <h1 class="display-1 text-center">Secret Santa</h1>
            <h2 class="display-5 text-center">The simple gift exchange website</h2>
        </div>

        <div class="mb-3">
            <p class="fs-4">Welcome to this simple gift exchange creation website!</p>
            <p class="fs-4">Here, we pride ourselves with our very simple event organising procedure and management interface.</p>
        </div>

        <div class="mb-3">
            <h3 class="display-6 text-center text-md-start">Organize a Gift Exchange Easily</h3>

            <div class="row">
                <div class="col-6 col-md-3 offset-3 offset-md-0 mb-2 mb-md-0">
                    <img src="{% static 'secret_santa/images/Elf_with_Gifts.png' %}" class="img-fluid">
                </div>
                <div class="col-12 col-md-9 align-self-sm-center">
                    {% if not user.is_authenticated %}
                        <!-- Only displayed if the user is not authenticated -->
                        <p class="fs-4"><a href="{% url 'login' %}">Log into your account</a> to organize a gift exchange, or <a href="{% url 'register' %}">register here</a>.</p>
                    {% endif %}

                    <p class="fs-4">A simple way to organize a gift exchange!</p>
                    <p class="fs-4">Organizer's participation in the event is not mandatory!</p>
                    <p class="fs-4">But don't forget to put your name in the participants list if you are taking part in the gift exchange!</p>

                    <a class="btn btn-primary btn-lg col-12 col-sm-8 col-md-auto offset-sm-2 offset-md-0" href="{% url 'create' %}">Create a Gift Exchange Now!</a>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <h3 class="display-6 text-center text-md-start">See What You Have Planned</h3>

            <div class="row">
                <div class="col-6 col-md-4 offset-3 offset-md-0 mb-2 mb-md-0">
                    <img src="{% static 'secret_santa/images/Elves.png' %}" class="img-fluid">
                </div>
                <div class="col-12 col-md-8 align-self-md-center">
                    <p class="fs-4">The gift exchange browser gives you a view of what is to come.</p>
                    <p class="fs-4">See everything at the same time or filter them by navigating through the different tabs!</p>
                    <p class="fs-4">Reply to your invitations directly in the browser or see who you picked for an exchange!</p>
                    <p class="fs-4">The "Created" tab lets you manage the gift exchanges you have organized and view the ones you organized in the past.</p>
                    <a class="btn btn-primary btn-lg col-12 col-sm-8 col-md-auto offset-sm-2 offset-md-0" href="{% url 'exchanges' %}">Browse Your Gift Exchanges</a>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <h3 class="display-6 text-center text-md-start">Manage Your Gift Exchanges</h3>

            <div class="row">
                <div class="col-6 col-md-3 offset-3 offset-md-0 mb-2 mb-md-0">
                    <img src="{% static 'secret_santa/images/Single_Elf.png' %}" class="img-fluid">
                </div>
                <div class="col-12 col-md-9 align-self-sm-center">
                    <p class="fs-4">Easily manage and edit your gift exchanges directly the event's page!</p>
                    <p class="fs-4">Add participants to the gift exchange until you have made the draw!</p>
                    <p class="fs-4">Make the draw enough people has confirmed their participation and reset it if there is any problem.</p>
                    <p class="fs-4">As the organizer, it is possible to mark the gift exchange as cancelled, but it can also be reactivated as long as the happening date hasn't passed.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}