{% extends "secret_santa/layout.html" %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block script %}
    <script src="{% static 'secret_santa/index.js' %}"></script>
{% endblock %}

{% block body %}
    <div>
        <div class="d-md-flex justify-content-center mt-2">
            <div class="d-none d-md-block">
                <img src="{% static 'secret_santa/images/Elf_with_Gift.png' %}" class="img-fluid">
            </div>
            <div class="align-self-md-center col-md-4">
                <h2 class="display-6 text-center mb-3">Log in</h2>

                <div class="mb-2">
                    {% if message %}
                        <div class="alert alert-danger fs-5 mb-2" role="alert">{{ message }}</div>
                    {% endif %}
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label fs-5" for="username">Username</label>
                            <input class="form-control fs-5 mb-2" type="text" id="username" name="username" autofocus>
                            <label class="form-label fs-5" for="password">Password</label>
                            <input class="form-control fs-5" type="password" id="password" name="password">
                        </div>

                        <input class="btn btn-primary form-control fs-5" type="submit" value="Log-in">
                    </form>
                </div>

                <p class="fs-5">Don't have an account? <a href="{% url 'register' %}">Register here!</a></p>
            </div>
        </div>
    </div>
{% endblock %}