<div class="modal fade" id="viewPickedName1" tabindex="-1" aria-labelledby="viewPickedNameLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4" id="viewPickedNameLabel1">Are You Hidden?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="fs-5">Hide where nobody can watch over your shoulder to see who you picked.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fs-5" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary fs-5" data-bs-target="#viewPickedName2" data-bs-toggle="modal">I Am Hidden</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewPickedName2" aria-hidden="true" aria-labelledby="viewPickedNameLabel2" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4" id="viewPickedNameLabel2">The Person You Picked Is...</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="pickedNameLabel" class="fs-5"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary fs-5" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>  