{% extends "secret_santa/layout.html" %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block script %}
    <script src="{% static 'secret_santa/index.js' %}"></script>
{% endblock %}

{% block body %}
    <h2 class="display-6 col-md-7 col-lg-5 mx-auto">Create your account!</h2>

    <div class="col-md-7 col-lg-5 mx-auto">
        {% if message %}
            <div class="alert alert-danger fs-5" role="alert">{{ message }}</div>
        {% endif %}
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="username" class="form-label fs-5" required>Username</label>
                <input type="text" id="username" class="form-control fs-5" name="username" value="{% if username %}{{ username }}{% endif %}" autofocus>
            </div>

            <div class="mb-3">
                <label for="first-name" class="form-label fs-5" required>First name</label>
                <input type="text" id="first-name" class="form-control fs-5" name="first-name" value={% if first_name %}{{ first_name }}{% endif %}>
                <label for="last-name" class="form-label fs-5" required>Last name</label>
                <input type="text" id="last-name" class="form-control fs-5" name="last-name" value={% if last_name %}{{ last_name }}{% endif %}>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label fs-5" required>Email</label>
                <input type="email" id="email" class="form-control fs-5" name="email" value={% if email %}{{ email }}{% endif %}>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label fs-5" required>Password</label>
                <input type="password" id="password" class="form-control fs-5" name="password">
                <label for="confirmation" class="form-label fs-5" required>Confirmation</label>
                <input type="password" id="confirmation" class="form-control fs-5" name="confirmation">
            </div>

            <input type="submit" class="btn btn-primary form-control fs-5" value="Register">
        </form>
    </div>
{% endblock %}